div{
  background-color: #82ccdd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
div h1{
  text-align: center;
  color: red;
}
div p{
  font-size: 15px;
  text-align: justify;
}
div img{
  width: 400px;
  margin: auto;
  display: block;
  border-radius: 20px;
  
}
